h1{
    color: $titleWordColor;
}

.card {
    border-color: burlywood;
    border-radius: 20px;
    background-color: rgba(255, 236, 225, 0.5);
    padding: 1rem 1rem;
   
    img{
       height:300px;
    }
}

