$navColor:black;

$btnColor:rgb(26, 196, 248);

$btnborderStyle:1px solid $btnColor;

$btnHoverColor:rgb(32, 152, 189);

$mainPicWordColor:#04acfa;

$title2Color:rgb(144, 135, 135);

$footerBgcColor:rgb(19, 123, 155)


