@import "color.scss";


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


// nav
.navbar-brand{
    font:{
        size: 2rem;
        family:'Dancing Script', cursive;
        weight:700;
    }
    color:$navColor;
    &:hover{
        color:$navColor;
    }    
}

.nav-link{
    font:{
       font-family: 'Kaisei Decol', serif;
        weight:500;
    }
    color:$navColor;
    &:hover{
        color:$navColor;
    }
}


//input
.inputSelf{
    width:80%;
    padding: 6px 0px 6px 10px;
    outline:none; 
    font-family: 'Kaisei Decol', serif;
    border: 2px solid rgb(26, 196, 248) {
        radius:40px;
    };
   
}

//button

.btnSelf{
    width:90px;
    padding:6px;
    background-color: $btnColor;
    color:white;
    margin-left: -40px;
    font:{
        family: 'Kaisei Decol', serif;
        weight: 700;
    }
    border:$btnborderStyle{
        radius:40px
    }
    &:hover{
        border:1px solid $btnHoverColor;
        background-color:$btnHoverColor
    }
}

form:hover >.inputSelf{
    border:2px solid  $btnHoverColor;
}


.btnSelf1{
    width:35%;
    height: 45px;
    color:white;
    font-weight: 700;
    background-color:$btnColor;
    outline: none;
    border:$btnborderStyle{
        radius:40px
    }
    &:hover{
        border:1px solid $btnHoverColor;
        background-color:$btnHoverColor
    }
}

.btnSelf2{
    width:150px;
    height: 40px;
    outline: none;
    background-color:rgb(26, 196, 248);
    color:white;
    font-weight: 700;
    border:$btnborderStyle{
        radius:60px
    }

    &:hover{
        border:1px solid $btnHoverColor;
        background-color:$btnHoverColor
    }
    
}

// MainPicture
#mainPic{
    width: 100%;
    height: 100vh;
    color:$mainPicWordColor;
    background:{
        image:url(../image/foodiesfeed.com_berries-smoothie-bowl.jpg);
        position:right;
        size:cover;
    };
}

.titleMain{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    h1{
        font:{
            size:5rem;
            weight:700;
        }
    }
}


// iconArea
#iconArea img{
    width: 100px;
    height: 100px;
}

.test{
    clip-path: circle(0%);
    
}

.iconImgEf{
    clip-path: circle(100%);
    transition: 6s;
}



.title1 h1{
    font-weight: 700;
}


//cardEffect
.card:hover{
    box-shadow: 5px 4px 5px #aaa3a3;
}

#middleImg{
    height: 100vh;
    margin-top: 80px;
    background:{
        image:url("../image/middleImg.jpg");
        size: cover;
    };
}

.title2 h1{
    color: $title2Color;
    margin-top: 40px;
    font:{
        weight:700;
        family:'Dancing Script', cursive;
    }
   
}

#contactUs h6{
    font-weight: 700;
}

// footer
footer{
    width: 100%;
    margin-top: 200px;
    background-color:$footerBgcColor;
    color:white;
    h1{
        font-weight: 700;
    }
}
  
   

.inputFooter{
    width:40%;
    height: 40px;
    outline: none;
    border: 2px solid white;
    background:none;
    color:white;
    &::placeholder{
        color:white;
    }

}

.btnFooter{
    width: 100px;
    height:40px;
    border: none;
    font-weight: 700;
    margin-left: -100px;
}

.footerContent{
    width:80%;
    span{
        font-size: 3rem;
        margin: 0 3px;
    }
}

.navbar-toggler-icon{
    margin-top: 10px;
    font-size: 3rem;
}








/* js set style */

.test01{
    text-shadow:20px 20px 15px rgb(114, 110, 110);
    cursor:pointer;
    display: inline-block;
}

.test01:nth-child(1){
    
     animation: test 5s forwards;    
}

.test01:hover{
    transition: 0.2s;
    transform: rotate(360deg);
    color: crimson;
}

@keyframes test{
   0%{
        color: #04acfa;
        font-size: 5rem;
   }

   25%{
        color: #48CAE4;
   }

   50%{
         color: #90E0EF;
   }

   75%{
    color: #ADE8F4;
   }

   100%{
    color: #CAF0F8;
    font-size: 8rem;
  
   }

}


 
   

